<div class="player panel panel-default">
  <div class="player-name panel-header">
    <%= Dealer::DEALER_NAME %>
  </div>
  <div class="player-cards panel-content">
    <% player&.cards&.each do |card| %>
      <% if card.show %>
        <div class="card">
          <%= card.suit %>
          <%= card.rank %>
        </div>
      <% else %>
        <div class="card">
          **HIDDEN
          **HIDDEN
        </div>
      <% end %>
    <% end %>
  </div>
</div>
