<div class="container mt-4">
 <table class="table table-bordered">
  <tr>
    <td>
      <%= render 'dealer', player: @game.dealer, seat_id: 0 %>
    </td>
    <% (1..3).each do |n| %>
      <td>
        <%= render 'player', player: @game.players[n], seat_id: n %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td colspan="4">
      <div class="image img-rounded">
        <img src="assets/poker_table_small.PNG" alt="poker_table_small"  style="width:100%">
      </div>
    </td>
  </tr>
  <tr>
    <% (4..7).each do |n| %>
      <td>
        <%= render 'player', player: @game.players[n], seat_id: n %>
      </td>
    <% end %>
  </tr>
</table>
</div>

<!-- rendering partial -->
<div id="betUserModal">
 <%= render 'user_games/modal', min_bet: @game.settings.min_bet, seat_id: 0 %>
</div>
